<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap-zephyr.min.css}" rel="stylesheet">


    <style>
        html {
            height: 100%;
        }

        body {
            height: 100%;
            background: linear-gradient(135deg, rgb(37 120 121) 23%, rgba(253, 247, 45, 1) 100%);
            /* image */
            /*background-image: url(../images/wallpaperbetter.com_1920x1200.jpg); */
            /*background-size: cover; */
            /*background-repeat: no-repeat;*/
        }

        .dropdown-item:focus, .dropdown-item:hover {
            color: #fff;
            background-color: #212529;
        }



    </style>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler me-4" type="button" data-toggle="collapse" data-target="#navbar"
            aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="container-fluid">
        <div class="collapse navbar-collapse px-lg-5" id="navbar">
            <ul class="navbar-nav me-auto" style="display: contents;">
                <li class="nav-item m-0 me-3">
                    <a class="nav-link " href="#">Home</a>
                </li>
                <li class="nav-item m-0 me-3">
                    <a class="nav-link" href="#">Spring</a>

                </li>
                <li class="nav-item m-0 me-3">
                    <a class="nav-link active" href="#">Proyectos</a>
                </li>
                <li class="nav-item dropdown d-block ms-auto">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false">Gabo</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Editar Perfil</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Cerrar Sesion</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Modificar Datos Personales</h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="nombre" id="nombre1"
                                           class="form-control input-sm floatlabel" placeholder="Nombre">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="apellido" id="apellido1"
                                           class="form-control input-sm floatlabel" placeholder="Apellido">
                                </div>
                            </div>

                            <div class="form-group col-xs-12">
                                <input type="text" name="direccion" id="direccion"
                                       class="form-control input-sm floatlabel" placeholder="Dirección">
                            </div>
                            <div class="form-group col-xs-12">
                                <input type="text" name="telefono" id="telefono"
                                       class="form-control input-sm floatlabel" placeholder="Teléfono">
                            </div>
                            <div class="form-group col-xs-12">
                                <input type="text" name="documento" id="documento"
                                       class="form-control input-sm floatlabel" placeholder="Documento de Identidad">
                            </div>
                            <div class="form-group col-xs-12">
                                <input type="text" name="email" id="email"
                                       class="form-control input-sm floatlabel" placeholder="Correo Electrónico">
                            </div>
                            <div class="form-group col-xs-12">
                                <input type="text" name="usuario" id="usuario"
                                       class="form-control input-sm floatlabel" placeholder="Nombre de Usuario">
                            </div>

                            <div class="form-group col-xs-12">
                                <input type="password" name="contraseña" id="pass"
                                       class="form-control input-sm floatlabel" placeholder="Contraseña">
                            </div>

                            <div class="form-group col-xs-12">
                                <input type="password" name="nuevaContraseña" id="newPass"
                                       class="form-control input-sm floatlabel" placeholder="Ingrese Nueva Contraseña">
                            </div>
                        </div>
                        <input type="submit" value="Guardar Datos" class="btn btn-info btn-block">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
</script>

</body>

</html>